body {
  padding:
    0;
  margin:
    0;
  background:
    #000000;
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
  font-family: monospace;
  line-height: 1.4em;
  font-size: 15;
}

#terminal {
  overflow-y: scroll;
  margin: 0;
  padding: 40px;
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;
  background:#333333;
}

#history { 
  padding-right: 30px;
}

#thinking { 
  display: none;
}
#prompt {
	display: inline-block;
	flex-grow: 1;
	
	border: none;
	outline: none;
	
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: inherit;
  width: 90%;
}

.blink {
  animation: blink-animation .7s steps(5, start) infinite;
  -webkit-animation: blink-animation .7s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

#commandline {
	flex-direction: row;
	color: inherit;
}
.user {
  color: rgb(76, 255, 178);
}

.function {
  color: rgb(100, 100, 100);
}
.system {
  color: rgb(84, 161, 255);
}

.assistant {
  color: rgb(213, 26, 255);
}

.error {
  color: rgb(163, 144, 36);
}


/*
canvas {
  display:
    block;
  position:
    absolute;
  left:
    50%;
  top:
    50%;
  transform:
    translate(-50%, -50%);
  width:
    50%;
  height:
    50%;
  text-align:
    center;
  z-index: 1000;
}*/